DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=91.99.1.216,hojiyevschool.uz
DATABASE_URL=sqlite:///db.sqlite3
REDIS_URL=redis://redis:6379/1
TELEGRAM_BOT_TOKEN=7840360930:AAGcr9Lq2iYMByd6YZ9AAueZ3XxY8iHGGWM
TELEGRAM_CHAT_IDS=1341191471,5520140856
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret