asgiref
attrs
autobahn
Automat
certifi
cffi
channels
channels_redis
charset-normalizer
constantly
cryptography
daphne
Django
django-allauth
hyperlink
idna
Incremental
msgpack
oauthlib
packaging
pillow
py-ubjson
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
python-dotenv
redis
requests
service-identity
sqlparse
Twisted
txaio
typing_extensions
tzdata
ujson
urllib3
whitenoise
zope.interface
djangorestframework
django-cors-headers
django-cloudinary-storage
cloudinary
gunicorn
uvicorn
daphne
dj-database-url
psycopg2-binary
django-redis
